In [8]:
import pandas as pd
import numpy as np

In [19]:
car_data = pd.read_csv('../data/raw/used_cars.csv')

In [20]:
car_data.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$10,300"
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,"$38,005"
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,"$54,598"
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,"$15,500"
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,NaN,"$34,999"

In [21]:
car_data.isna().sum()

brand             0
model             0
model_year        0
milage            0
fuel_type       170
engine            0
transmission      0
ext_col           0
int_col           0
accident        113
clean_title     596
price             0
dtype: int64

In [22]:
car_data['price'].describe()

count        4009
unique       1569
top       $15,000
freq           39
Name: price, dtype: object

In [23]:
# Essential exploration steps
def explore_car_data(df):
    print("=== BASIC INFO ===")
    print(f"Dataset shape: {df.shape}")
    print(f"Missing values: {df.isnull().sum().sum()}")
    
    print("\n=== TARGET VARIABLE (Price) ===")
    print(f"Price range: ${df['price'].min():,.0f} - ${df['price'].max():,.0f}")
    print(f"Average price: ${df['price'].mean():,.0f}")
    print(f"Median price: ${df['price'].median():,.0f}")
    
    print("\n=== CATEGORICAL FEATURES ===")
    for col in ['brand', 'fuel_type', 'transmission']:
        if col in df.columns:
            print(f"{col}: {df[col].nunique()} unique values")
            print(df[col].value_counts().head())
    
    print("\n=== NUMERICAL FEATURES ===")
    numerical_cols = df.select_dtypes(include=[np.number]).columns
    print(df[numerical_cols].describe())

In [24]:
explore_car_data(car_data)

=== BASIC INFO ===
Dataset shape: (4009, 12)
Missing values: 879

=== TARGET VARIABLE (Price) ===

ValueError: Unknown format code 'f' for object of type 'str'

In [25]:
# Remove $ and , from price and convert to int
car_data['price'] = car_data['price'].replace('[\$,]', '', regex=True).astype(float)

<>:2: SyntaxWarning: invalid escape sequence '\$'
<>:2: SyntaxWarning: invalid escape sequence '\$'
C:\Users\Admin\AppData\Local\Temp\ipykernel_9164\905416067.py:2: SyntaxWarning: invalid escape sequence '\$'
  car_data['price'] = car_data['price'].replace('[\$,]', '', regex=True).astype(float)

In [26]:
explore_car_data(car_data)

=== BASIC INFO ===
Dataset shape: (4009, 12)
Missing values: 879

=== TARGET VARIABLE (Price) ===
Price range: $2,000 - $2,954,083
Average price: $44,553
Median price: $31,000

=== CATEGORICAL FEATURES ===
brand: 57 unique values
brand
Ford             386
BMW              375
Mercedes-Benz    315
Chevrolet        292
Porsche          201
Name: count, dtype: int64
fuel_type: 7 unique values
fuel_type
Gasoline         3309
Hybrid            194
E85 Flex Fuel     139
Diesel            116
â€“                  45
Name: count, dtype: int64
transmission: 62 unique values
transmission
A/T                               1037
8-Speed A/T                        406
Transmission w/Dual Shift Mode     398
6-Speed A/T                        362
6-Speed M/T                        248
Name: count, dtype: int64

=== NUMERICAL FEATURES ===
        model_year         price
count  4009.000000  4.009000e+03
mean   2015.515590  4.455319e+04
std       6.104816  7.871064e+04
min    1974.000000  2.000000e+03
25%    2012.000000  1.720000e+04
50%    2017.000000  3.100000e+04
75%    2020.000000  4.999000e+04
max    2024.000000  2.954083e+06

In [27]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         4009 non-null   object
 1   model         4009 non-null   object
 2   model_year    4009 non-null   int64
 3   milage        4009 non-null   object
 4   fuel_type     3839 non-null   object
 5   engine        4009 non-null   object
 6   transmission  4009 non-null   object
 7   ext_col       4009 non-null   object
 8   int_col       4009 non-null   object
 9   accident      3896 non-null   object
 10  clean_title   3413 non-null   object
 11  price         4009 non-null   float64
dtypes: float64(1), int64(1), object(10)
memory usage: 376.0+ KB

In [28]:
# Save the dataset to a new CSV file
car_data.to_csv('../data/raw/used_cars_exploration.csv', index=False)