# Cleaning the Dataset

In [1]:
import pandas as pd
import numpy as np

In [15]:
car_data = pd.read_csv('../data/raw/used_cars_exploration.csv')

In [16]:
car_data.sample(5)

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
74,Audi,RS 5 2.9T,2019,"21,240 mi.",Gasoline,444.0HP 2.9L V6 Cylinder Engine Gasoline Fuel,8-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,59950.0
2820,RAM,1500 Laramie,2022,"16,184 mi.",Gasoline,5.7L V8 16V MPFI OHV,8-Speed Automatic,Granite Crystal Clearcoat Metallic,Black,None reported,NaN,46999.0
2468,Nissan,Titan XD SV,2017,"80,000 mi.",Gasoline,390.0HP 5.6L 8 Cylinder Engine Gasoline Fuel,7-Speed A/T,Silver,Black,None reported,Yes,23800.0
3635,Honda,Pilot EX-L,2020,"44,000 mi.",Gasoline,280.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,A/T,White,Black,None reported,Yes,34999.0
529,Tesla,Model Y Long Range,2021,"69,548 mi.",NaN,425.0HP Electric Motor Electric Fuel System,1-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,36300.0

In [17]:
# Remove ',' and ' mi.' from milage and convert to int
car_data['milage'] = car_data['milage'].str.replace(',', '').str.replace(' mi.', '').astype(float)

# Convert model_year to int
car_data['model_year'] = car_data['model_year'].astype(int)

# Fill missing values in 'clean_title' with the mode
car_data['clean_title'] = car_data['clean_title'].fillna(car_data['clean_title'].mode()[0])

In [18]:
car_data.sample(5)

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
3971,Buick,Envision Essence,2021,36544.0,Gasoline,2.0L I4 16V GDI DOHC Turbo,9-Speed Automatic,Dark Moon Blue Metallic,Ebony,None reported,Yes,33290.0
701,Lexus,LX 600 Premium,2023,1500.0,Gasoline,409.0HP 3.4L V6 Cylinder Engine Gasoline Fuel,10-Speed A/T,Gray,Black,NaN,Yes,119500.0
1890,Chevrolet,Avalanche 1500 LTZ,2007,75124.0,E85 Flex Fuel,310.0HP 5.3L 8 Cylinder Engine Flex Fuel Capab...,A/T,Red,Gray,None reported,Yes,16499.0
2880,RAM,1500 Laramie,2022,12940.0,Gasoline,5.7L V8 16V MPFI OHV,8-Speed Automatic,Bright White Clearcoat,Black,At least 1 accident or damage reported,Yes,46999.0
1490,GMC,Yukon XL SLT,2016,183544.0,Gasoline,355.0HP 5.3L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,22000.0

In [19]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         4009 non-null   object
 1   model         4009 non-null   object
 2   model_year    4009 non-null   int64
 3   milage        4009 non-null   float64
 4   fuel_type     3839 non-null   object
 5   engine        4009 non-null   object
 6   transmission  4009 non-null   object
 7   ext_col       4009 non-null   object
 8   int_col       4009 non-null   object
 9   accident      3896 non-null   object
 10  clean_title   4009 non-null   object
 11  price         4009 non-null   float64
dtypes: float64(2), int64(1), object(9)
memory usage: 376.0+ KB

In [20]:
# Drop duplicates
car_data = car_data.drop_duplicates()

In [21]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         4009 non-null   object
 1   model         4009 non-null   object
 2   model_year    4009 non-null   int64
 3   milage        4009 non-null   float64
 4   fuel_type     3839 non-null   object
 5   engine        4009 non-null   object
 6   transmission  4009 non-null   object
 7   ext_col       4009 non-null   object
 8   int_col       4009 non-null   object
 9   accident      3896 non-null   object
 10  clean_title   4009 non-null   object
 11  price         4009 non-null   float64
dtypes: float64(2), int64(1), object(9)
memory usage: 376.0+ KB

In [23]:
car_data.isna().sum()

brand             0
model             0
model_year        0
milage            0
fuel_type       170
engine            0
transmission      0
ext_col           0
int_col           0
accident        113
clean_title       0
price             0
dtype: int64

In [29]:
car_data.dropna(inplace=True)

In [25]:
car_data.sample(5)

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
641,Mercedes-Benz,AMG C 43 AMG C 43 4MATIC,2019,32500.0,Gasoline,385.0HP 3.0L V6 Cylinder Engine Gasoline Fuel,9-Speed A/T,Black,Black,None reported,Yes,43500.0
2515,Subaru,Impreza 2.0i,2018,93000.0,Gasoline,152.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,CVT Transmission,Silver,Black,At least 1 accident or damage reported,Yes,16000.0
1438,Ford,Mustang GT Premium,2011,101000.0,Gasoline,412.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,6-Speed M/T,Red,Black,None reported,Yes,18500.0
1306,Land,Rover Range Rover 5.0L V8 Supercharged,2019,31866.0,Gasoline,"5L V-8 gasoline direct injection, DOHC, variab...","Automatic, 8-Spd",–,–,None reported,Yes,68900.0
695,Genesis,G70 2.0T,2023,2046.0,Gasoline,252.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,8-Speed A/T,Green,Gray,None reported,Yes,43499.0

In [31]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3730 entries, 0 to 4008
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         3730 non-null   object
 1   model         3730 non-null   object
 2   model_year    3730 non-null   int64
 3   milage        3730 non-null   float64
 4   fuel_type     3730 non-null   object
 5   engine        3730 non-null   object
 6   transmission  3730 non-null   object
 7   ext_col       3730 non-null   object
 8   int_col       3730 non-null   object
 9   accident      3730 non-null   object
 10  clean_title   3730 non-null   object
 11  price         3730 non-null   float64
dtypes: float64(2), int64(1), object(9)
memory usage: 378.8+ KB

In [30]:
car_data.isna().sum()

brand           0
model           0
model_year      0
milage          0
fuel_type       0
engine          0
transmission    0
ext_col         0
int_col         0
accident        0
clean_title     0
price           0
dtype: int64

In [33]:
# Standardize the categorical columns to lowercase
for col in car_data.select_dtypes(include=['object']).columns:
    car_data[col] = car_data[col].str.lower()

In [34]:
car_data.sample(5)

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
3122,bmw,x3 xdrive30i,2021,27000.0,gasoline,248.0hp 2.0l 4 cylinder engine gasoline fuel,8-speed a/t,black,brown,none reported,yes,38400.0
1151,bmw,m8 competition,2022,5018.0,gasoline,4.4 liter twin turbo,automatic,–,sakhir orange/black,none reported,yes,114998.0
1579,mini,cooper base,2010,58000.0,gasoline,118.0hp 1.6l 4 cylinder engine gasoline fuel,6-speed a/t,gold,black,none reported,yes,8000.0
3568,ford,explorer platinum,2020,64552.0,gasoline,3.0l v6 24v gdi dohc twin turbo,10-speed automatic,iconic silver metallic,ebony,at least 1 accident or damage reported,yes,36750.0
484,mercedes-benz,amg gt amg gt s,2016,9738.0,gasoline,503.0hp 4.0l 8 cylinder engine gasoline fuel,7-speed a/t,red,black,none reported,yes,85500.0

In [37]:
# Save cleaned dataset
car_data.to_csv('../data/raw/used_cars_cleaned.csv', index=False)